.add-this {
    position: absolute;
    bottom: 0;
    right: 15px;
    padding: 8px 35px 20px;
    z-index: 1;
}

.add-this::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../includes/public/assets/images/blue-splash.png")center/100% 110% no-repeat;
    z-index: -1;
}

.add-this a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

.add-this a i {
    margin-left: 4px;
}

@media (min-width: 1025px) {
    .add-this {
        right: 8%;
        padding: 15px 40px;
        transform: translateY(-50%);
    }
}
