.add-this {
    position: absolute;
    bottom: 0;
    right: 15px;
    padding: 8px 35px 12px;
    z-index: 100;
    transform: translateY(-30%);
}

.add-this::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../includes/public/assets/images/blue-splash.png")center/100% 110% no-repeat;
    z-index: -1;
}

.add-this a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

.add-this a i {
    margin-left: 4px;
}

.listings.shared-detail .add-this {
    top: 0;
    bottom: auto;
    right: 0;
    transform: translate(10px, -50%);
    padding: 8px 24px;
}

@media (min-width: 1025px) {
    .add-this {
        right: 10%;
        padding: 15px 60px;
    }
}

@media (min-width: 1420px) {
    .listings.shared-detail .add-this {
        right: -255px;
        top: 55px;
        padding: 15px 50px;
        font-size: 17px;
    }
}
