.booking {
    position: relative;
    padding: 40px 35px;
    margin: 35px 0 0;
    background-color: white;
}

.booking::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 40px;
    background: url("../includes/public/assets/images/listings/rough-edge-listings-booking.png")center/cover repeat-x;
}

.booking::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0) 100%);
}

.booking .inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.booking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-form .option-cont {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 3px solid #15808f;
}

.booking-form .option-cont .toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    pointer-events: none;
    width: 40px;
    height: 40px;
    background-color: white;
}

.booking-form .option-cont i {
    font-size: 26px;
    color: #15808f;
}

.booking-form input,
.booking-form select {
    height: 40px;
    margin: 0;
    box-shadow: 0px 0px;
    border: 0;
    background: transparent;
    padding-right: 40px;
}

.booking-form input:focus,
.booking-form select:focus {
    background: transparent;
    outline: none;
}

.booking-form .option-cont .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 40px);
    background-color: white;
    pointer-events: none;
    color: #15808f;
    opacity: 1;
    font-size: 26px;
    font-weight: 600;
    transition: opacity 0.4s;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    padding-left: 4px;
}

.booking-form input:focus + .placeholder {
    opacity: 0;
}

.booking-form .option-cont.active .toggle > i {
    transform: rotate(180deg);
}

.booking-form .submit {
    margin: 15px 0 0;
    background-color: #db6027;
    font-family: 'proxima-nova', sans-serif;
    border-radius: 4px;
    padding: 12px 36px;
    font-size: 18px;
}

@media (min-width: 641px) {
    .booking {
        padding: 40px 15px;
    }
    .booking::before {
        background-size: contain;
    }
}

@media (min-width: 750px) {
    .booking {
        padding: 40px 15px 55px;
    }
    .booking-form {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .booking-form .option-cont {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(25% - 15px);
        max-width: 230px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .booking-form .submit {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 25%;
        margin: 0;
        padding: 10px;
        max-width: 180px;
    }
    .booking-form .option-cont .placeholder {
        font-size: 18px;
    }
}

@media (min-width: 1025px) {
    .booking-form .submit {
        padding: 13px 16px;
        font-size: 22px;
    }
    .booking-form .option-cont .placeholder {
        font-size: 26px;
    }
    .booking::before {
        height: 60px;
    }
    .booking::after {
        height: 30px;
    }
}

