/*
|-----------------------------------------------------------------------------------------------------------
| FONTS
|-----------------------------------------------------------------------------------------------------------
|
*/
/*

Place all custom fonts here for reference

    font-family: 'proxima-nova', sans-serif;

    font-family: 'Covered By Your Grace', cursive;

*/
/*
|-----------------------------------------------------------------------------------------------------------
| RESET STYLES
|-----------------------------------------------------------------------------------------------------------
*/

html,body,div,span,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }

body { line-height: 1; }

p ol,
p ul { list-style: none; }

blockquote,
q { quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
|-----------------------------------------------------------------------------------------------------------
| GLOBAL TAG STYLES
|-----------------------------------------------------------------------------------------------------------
*/

body {
    /* background-color: #faf8f4; */
    background-color: #333333;
    font-family: 'proxima-nova', sans-serif;
    color: #333333;
}
a,
a:link,
a:visited,
a:focus {
    color: #db6027;
    font-weight: bold;
}
h1 {
    color: #15808f;
    font-size: 40px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 34px;
    text-transform: uppercase;
}
h2 {
    color: #15808f;
    font-size: 38px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}
h3 {
    color: #db6027;
    font-size: 36px;
    font-family: 'Covered By Your Grace', cursive;
    font-style: normal;
    line-height: 34px;
}
h4 {
    color: #d44f5b;
    font-size: 24px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
h5 {
    color: #333333;
    font-size: 22px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
h6 {
    color: #15808f;
    font-size: 22px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
@media (min-width: 641px) and (max-width: 1024px) {
    h2 {
        font-size: 38px;
        line-height: 30px;
    }
}
@media (min-width: 641px) {
    h3 {
        font-size: 48px;
        line-height: 20px;
    }
    h4 {
        font-size: 36px;
        line-height: 24px;
    }
    h5 {
        font-size: 32px;
        line-height: 20px;
    }
    h6 {
        font-size: 26px;
        line-height: 18px;
    }
}
@media (min-width: 1025px) {
    h1 {
        font-size: 56px;
        line-height: 50px;
    }
    h2 {
        font-size: 48px;
        line-height: 24px;
    }
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
p {
    font-size: 17px;
    line-height: 24px; 
    margin-bottom: 1.25rem;
}
@media (min-width: 641px) {
    p {
        font-size: 18px;
        line-height: 24px;
    }
}
p, 
table tr th, 
table tr td {
    font-family: Arial, Helvetica, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #2d2d2d;
    margin: 0 0 20px;
}
ul,
ol,
dl {
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    font-family: 'proxima-nova', sans-serif;
}
.wrapper img { border: medium none; }
::-webkit-input-placeholder {
    color: #c9bea7;
    opacity: 1;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #c9bea7;
    opacity: 1;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #c9bea7;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #c9bea7;
    opacity: 1;
}
/*
|-----------------------------------------------------------------------------------------------------------
| HEADER SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.header-section {
    position: relative;
    z-index: 999;
    height: 70px;
    width: 100%;
    margin: 0 auto;
}

.header-section .top-nav-cont {
    position: relative;
    display: flex;
    padding: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-section .header-right {
    display: none;
}

.header-section .logo {
    width: 100%;
    max-width: 160px;
}

.header-section .logo img {
    display: block;
    width: 100%;
}

.header-section .mobilenav .weather-cont {
    padding: 12px;
}

.header-section .utilities {
    display: flex;
    align-items: center;
}

@media (min-width: 641px) {
    .header-section .logo {
        max-width: 170px;
    }
}

@media (min-width: 1025px) {
    .header-section {
        height: 110px;
    }
    .header-section .top-nav-cont {
        padding: 20px 15px;
    }
    .header-section .header-right {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .header-section .logo {
        max-width: 275px;
    }
}
/*
|-----------------------------------------------------------------------------------------------------------
| BODY SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.content {
    position: relative;
    width: 100%;
}

/*
|-----------------------------------------------------------------------------------------------------------
| FOOTER SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.footer-section {
    position: relative;
    text-align: center;
    z-index: 1;
}

